* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Merriweather", "serif";
  font-size: 13px;
}
.logo h1 {
  color: black;
}

.ham-menu h1{
  color: black;
}
.ham-menu h1{
  top: 0;
  right: 0px;
  width: 40px;
  position: absolute;
}

.show li a {
  display: block;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 50px;

}

.main-menu li a{
  right: 0;
  position: relative;
  width: 20px;
}

.show {
  display: block;
}



.main-menu li {
 list-style-type: none;
 display: none;
}

.main-menu a {
   text-decoration: none;
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
  padding: 10px;
  color: #f15156;
  background-color: #e2c2ff;

}
main {
  margin-top: 20px;

}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  color: white;
  
}

.contact img {
  width: 40px;
}

.contact a {
  color:white;
  font-size: large;
}
.contact {
  text-align: center;
  color: white;
}
.social-one {
  text-align: center;
}

.footer-contact img {
  width: 40px;
  height: auto;
}

.footer-contact {
  text-align: center;
}

.copyright {
  text-align: center;
  line-height: 2rem;
  background-color: rgb(212, 208, 208);
  
}
 footer img {
  width: 90px;
 }


.contact,
.logo{
  line-height: 2rem;
}

main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 10px;
}


.section-1 {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: #549f93;
  height: auto;
}

.section-2 {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: #549f93;
  height: auto;
}

.section-3 {
  grid-column: 1/2;
  grid-row: 3/4;
  background-color: #549f93;
  height: auto;
}

.section-4 {
  grid-column: 1/2;
  grid-row: 4/5;
  background-color: #549f93;
  height: auto;
}

.section-5 {
  grid-column: 1/2;
  grid-row: 5/6;
  background-color: #549f93;
  height: auto;
 
  
  
}

.section-6 {
  grid-column: 1/2;
  grid-row: 6/8;
  height: auto;
  
}

.section-6 {
  display: grid;
  border: 1px solid black;
  padding: 30px;
}

.sportlight-1 {
  background-color: var(--clr-six);
  border: 1px solid black;
}
.sportlight-1 img {
    width: 100px;
}
.sportlight-2 img {
  width: 100px;
}

.sportlight-2 {
  background-color: var(--clr-six);
  border: 1px solid black;
}

.sportlight-3 {
  display: none;
  border: 1px solid black;
  margin-bottom: 20px;
}


.copyright a {
  text-decoration: none;
  color: purple;
}

picture img {
  height: 100%;
  width: 100%;
}

.section-4,
span {
  text-align: center;
  color: white;
}

.section-4 h2 {
  margin: 10px;
  font-size: 30px;
}

.imagedescription-1 {
  padding: 20px;
}

.section-5 {
  line-height: 2rem;
  text-align: center;
}

.section-5 .btn {
  margin-top: 2rem;
  width: 30%;
  padding: 0.9rem;
  border-radius: 50px 50px;
  text-align: center;
  background-color: rgb(204, 194, 181);
}

.section-5 .btn a {
  text-decoration: none;
  color: black;
}

.section-5 p {
  color: white;
  text-align: left;
  padding: 0.4rem;
}

figcaption {
  color: white;
  line-height: 2rem;
  text-align: left;
  padding: 0.4rem;
}

.section-2 {
  color: white;
  text-align: left;
}

.section-2 p {
  padding: 0.4rem;
  line-height: 2rem;
}

.section-6 {
  text-align: center;
  background-color: #549f93;
}

.section-6 a {
  font-style: italic;
}

.section-6 p {
  color: white;
  line-height: 2rem;
}
.section-6 h2 {
  margin-top: 10px;
  margin: 10px;
  font-size: 2rem;
  font-style: italic;
  color: rgb(226, 228, 102);
}

.sportlight-1 img {
  margin-top: 0px;
}

.sportlight-2 img {
  margin-top: 0px;
}
.footer-logo {
  background-color: black;
  padding: 20px;
  border-radius: 20px 20px  0 0;
}
footer {
  margin-top: 20px;
}
