body{ 
    margin: 0;
    border: 0;
    font-family: 'Merriweather', 'serif';
    font-size: 13px;
    
  
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3777ff;
    padding: 70px;
    margin-top: -60px;
    
}



.navbar nav  {
   display: flex;
   justify-content: center;
   align-items: center;
   justify-content: space-between;

   
}

.navbar img {
    width: 80px;
    height: auto;
}


.navbar-links li{
    list-style: none;
    display: block;
    text-align: center;
    padding: 5px;
   

}

.navbar-links a {
    text-decoration: none;
    color: #FFEC51;
    display: block;
    padding: 10px;
  
   

}

.navbar-links a:hover {
    color: white;
    background-color: black;
    cursor: pointer;
    transition: 3s;
}




.social img {
    width: 30px;
}

 .date {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    padding: 10px;
    color: #F15156;
    background-color: #E2C2FF;
    max-width: 760px;
    
    
 }


 .logo {
     display: flex;
     justify-content: center ;
     align-items: center;
     flex-direction: column;
     margin-top: 20px;
     margin-right: -10px;
 }


 .social picture {
     display: flex;
     justify-content: center;
     align-items: center; }
     
    

 
 .navbar-links li {
     display: none;
 }

 .navbar-links li:first-child {
     display: block;
     
 }


 .message {
    margin-top: -10px;
    padding: 20px ;
    text-align: center;
    font-size: large;
    color: #FFEC51;
    background-color: #3777ff;
}



 .toggle a{
     color: white;
     font-size: 30px;

 }

 .responsive li {
     display: block;
 }

.footer-logo {
    text-align: center;
}

.contact img {
    width: 40px;
   
}

.contact a {
    text-decoration: none;
    color: purple;
}

.footer-contact img {
    width: 40px;
    height: auto;
}

.footer-contact {
    text-align: center;
}

.copyright {
  text-align: center;
  border-top: 1px solid #FFEC51;
}


footer img {
    width: 90px;
}

footer {
    background-color: #3777ff;
    margin-top: 10px;
    max-width: 760px;
}

.copyright a {
    text-decoration: none;
    color: purple;

}

.footer-logo {
    padding: 20px;
}


form .top input {
    max-width: 20rem;
}
form fieldset legend {
    max-width:100%;
}

form fieldset legend {
    text-align: center;
}

form label.top input {
    display: block;
    font-size: 1rem;
    border: 1px solid rgb(149, 148, 148);
    padding: .3rem;
    border-radius: 4px;
    color: rgb(44, 42, 42);
    width: 100%;
    background-color: rgb(241, 238, 238);
}

form label.top {
    display: block;
    padding-top: 1rem;
    font-size: .8rem;
}

form legend {
    color:black;
}

form fieldset {
    margin: 2rem;
    border: 1px solid #F15156;
    border-radius: 10px;
    padding: 2rem ;
}

.address {
    text-align: center;
    line-height: 2rem;
}



.a {
    color: #3777ff;
   
}
.b {
    color:green;
}
.c {
    color: grey;
}
.d{
    color: #F15156;
}
.e {
    color:brown;
}
.f{
    color: blueviolet;
}

h2{
    color: black;
}

form input.submitBtn {
    border: none;
    background-color: #6a91e6;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    cursor: pointer;
   
}

h1 {
    text-align: center;
    margin-top: 30px;
}







@media only screen and (min-width: 760px) {
    .responsive li {
        display: block;
    }


.date {
    max-width: 992px;
}
main {
    max-width: 992px;
}

.social {
    margin-left: 100px;
}

footer {
    max-width: 992px;
}

form .top input {
    max-width: 20rem;
}
form fieldset legend {
    max-width:100%;
}




    
}

@media only screen and (min-width:992px) {
   
    main {
        max-width: 1800px;
        margin: 0 auto;
    }


    .logo {
        margin-right: 30px;
    }
 

    .navbar-links li:first-child {
        display: none;
    }

    .navbar-links li {
        display: inline-block;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 10px;
    }

    .social {
        margin-left: 70px ;
    }

    .footer-logo {
        display: flex;
    }

    .footer-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        line-height: normal;
        text-align: center;
     }

     .logoimg{
         padding: 20px;
     }

     .date {
         max-width: 1962px;
         
     }

     footer {
         max-width: 1962px;
 
     }
     form label.top input {
        max-width: 40rem;
        
       
    }

    

     

   
}