* {
  margin: 0;
  border: 0;
  font-family: "Merriweather", "serif";
  font-size: 13px;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3777ff;
  padding: 70px;
  margin-top: -60px;
  background:url(../images/patech.png);
}

.container-logo-social {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.cart img {
  width: 60px;
}

.cart {
  margin-left: 170px;
}

.navbar nav {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.navbar img {
  width: 80px;
  height: auto;
}

.navbar-links li {
  list-style: none;
  display: block;
  text-align: center;
  padding: 5px;
}

.navbar-links a {
  text-decoration: none;
  color: #ffec51;
  display: block;
  padding: 10px;
}

.navbar-links a:hover {
  color: white;
  background-color: black;
  cursor: pointer;
  transition: 2s;
  border-radius: 20px 20px;
}

.social img {
  width: 30px;
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
  padding: 10px;
  color: black;
  background-color: #e2c2ff;
  margin-right: 700px;
  margin-left: 60px;
  border-radius: 30px 10px 30px 10px;
  font-size: large;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-right: -10px;
}

.social picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-links li {
  display: none;
}

.navbar-links li:first-child {
  display: block;
}

.message {
  margin-top: -10px;
  padding: 20px;
  text-align: center;
  font-size: large;
  color: #ffec51;
  background-color: #3777ff;
}

.toggle a {
  color: white;
  font-size: 30px;
}

.responsive li {
  display: block;
}

.footer-logo {
  text-align: center;
}


.contact a {
  text-decoration: none;
  color: purple;
}

.footer-contact img {
  width: 40px;
  height: auto;
}

.footer-contact {
  text-align: center;
}

.copyright {
  text-align: center;
  border-top: 1px solid #ffec51;
}

footer img {
  width: 90px;
}

footer {
  background-color: #3777ff;
  margin-top: 10px;
  max-width: 760px;
}

.copyright a {
  text-decoration: none;
  color: purple;
}

.footer-logo {
  padding: 20px;
}

form {
  margin-top: 20px;
}

form fieldset {
  margin: 2rem;
  border: 1px solid #91a8d8;
  border-radius: 10px;
  padding: 2rem;
}

form legend {
  color: #6a91e6;
}

form label.top,
form div {
  display: block;
  padding-top: 1rem;
  font-size: 0.8rem;
}

form label.top input {
  display: block;
  font-size: 1rem;
  border: 1px solid rgb(149, 148, 148);
  padding: 0.3rem;
  border-radius: 4px;
  color: rgb(44, 42, 42);
  width: 100%;
  background-color: rgb(241, 238, 238);
}

form label.middle {
  display: block;
  padding: 0.75rem;
}

form input.submitBtn {
  border: none;
  background-color: #6a91e6;
  color: white;
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
}

form label.bottom {
  display: block;
  margin: 2rem;
}

form input.currentdatetime {
  border-radius: 4px;
  border: 1px solid rgb(149, 148, 148);
  padding: 0.3rem;
  color: rgb(44, 42, 42);
  background-color: rgb(241, 238, 238);
  width: 100%;
}

form fieldset legend {
  text-align: center;
}
form .benefits p {
  font-size: 0.8rem;
  line-height: 2rem;
}

@media only screen and (min-width: 760px) {
  .responsive li {
    display: block;
  }

  .date {
    max-width: 992px;
  }
  main {
    max-width: 992px;
  }

  .social {
    margin-left: 100px;
  }

  footer {
    max-width: 992px;
  }

  form .top input {
    max-width: 20rem;
  }
  form fieldset legend {
    max-width: 100%;
  }
  form input.currentdatetime {
    max-width: 20rem;
  }
}

@media only screen and (min-width: 992px) {

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3777ff;
    padding: 70px;
    margin-top: -60px;
    border-radius: 50px 50px;
    background: url(../images/patech.png);
    background-repeat: no-repeat;
}
  main {
    max-width: 1800px;
    margin: 0 auto;
  }
  .cart {
    margin-left: 150px;
  }

  .cart img {
    width: 50px;
  }

  .logo {
    margin-right: 30px;
  }

  .navbar-links li:first-child {
    display: none;
  }

  .navbar-links li {
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px;
  }

  

  .footer-logo {
    display: flex;
  }

  .footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    line-height: normal;
    text-align: center;
  }

  .date {
    max-width: 1962px;
  }

  footer {
    max-width: 1962px;
  }

  form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
  }

  form .fieldset-1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  form .fieldset-2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  form .benefits {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  form label.top input {
    max-width: 40rem;
  }
  .social-one a img {
    width: 50px;
  }
  .social-two a img {
    width: 50px;
  }
  
  h1 {
    color: white;
  }
  
  .copyright {
    background-color: rgb(197, 194, 194);
    color: black;
    border-top: none;
    border-radius: 60px 60px;
    margin: 0 auto;
    max-width: 1000px;
  }
  .contact {
    color: white;
  }
  .contact a {
    color: white;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    font-size: large;
  }

  @keyframes slidein {
    from {
      margin-left: 10%;
      width: 100%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
    
  }
  footer {
    background-color: black;
  }
  .logo{
    color: white;
    line-height: 2rem;
  }
  .copyright { 
    line-height: 2rem;
  }
  .contact {
    text-align: left;
    line-height: 2rem;
  }
}
