@media only screen and (min-width:992px) {
   
    main {
       max-width: 1800px;
       margin-left: 25px;
       margin-right: 25px;
       

    }


    .logo {
        margin-right: 30px;
    }
 

    .navbar-links li:first-child {
        display: none;
    }

    .navbar-links li {
        display: inline-block;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 10px;
    }

    .social {
        margin-left: 70px ;
    }

    .footer-logo {
        display: flex;
    }
        
    

    main {

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 10px;
        margin-top: 30px;
       
        
        
    
    }
    
    .section-1 {
        grid-column: 2/4;
        grid-row: 1/3;
        background-color: #549F93;
        height: auto;
        
}
    
    .section-2 {
        grid-column: 2/4;
        grid-row: 3/4;
        background-color: #549F93;
        height: 350px;
        
        

    }
    
    .section-3 {
        grid-column: 1/2;
        grid-row: 1/2;
        background-color: #549F93;
        border: none;
        height: 350px;
    }
    
    .section-4 {
        grid-column: 1/2;
        grid-row: 2/3;
        background-color: #549F93;
        height: 350px;
    }
    
    .section-5 {
        grid-column: 1/2;
        grid-row: 3/4;
        background-color: #549F93;
        height: 350px;
    
    }

    .section-6 {
        display: block;
        grid-column: 4/5;
        grid-row: 1/4;
       
       
        
        

       
      
    }

    .sportlight-1 {
       display: block;
       border: 1px solid black;
       height: 30%;
       
      
    }
    
    .sportlight-2 {
        display: block;
        border: 1px solid black;
        height: 37%;
       
       
      
    }

    .sportlight-3 {
        display: block;
        border: 1px solid black;
        height: 32%;
       
    }



 
    .footer-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        line-height: normal;
        text-align: left;
     }

     .date {
         max-width: 1962px;
         
     }

     footer {
         max-width: 1962px;
 
     }
     .sportlight-4, 
     .sportlight-5 {
         display: none;
     }

     .section-2 p{
        line-height: 2rem;
     }
    
     .section-5 .btn {
        margin-top: .9rem ;
        width: 70px;
        padding: .9rem;
        border-radius: 50 50;
        text-align: center;
        background-color: rgb(204, 194, 181);
    }
    
 
}

