@media only screen and (min-width: 992px) {
 
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 50px;
  background-image: url(../images/patech.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 0 0 50px 50px;
}
 .ham-menu {
  display: none;
 }
 .logo h1{
  left: 0;
  top: 0;
  position: relative;
  color: white;
}
 .logo img {
  width: 60px;
  display: block;
  border: 1px solid red;
 }
 .main-menu li {
  display: inline-flex;
 }
 .main-menu li a {
  color: rgb(232, 232, 154); 
 }
 .main-menu li a:hover {
  color: white;
  background-color: #549f93;
  
 }
 .main-menu.show li {
  display: none;
 }
 .main-menu a{
   padding: 30px;
 }

  p img {
    width: 50px;
  }

  .logo {
    margin-right: 30px;
  }
  .logo,h1 {
    color: white;
  }

  .container-logo-social {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }

  .footer-logo {
    display: flex;
  }

  main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    margin-top: 30px;
  }

  .section-1 {
    grid-column: 2/4;
    grid-row: 1/3;
    background-color: #549f93;
    height: auto;
  }

  .section-2 {
    grid-column: 2/4;
    grid-row: 3/4;
    background-color: #549f93;
    height: auto;
    
  }

  .section-3 {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: #549f93;
    border: none;
    height: auto;
   
   
  }

  .section-4 {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #549f93;
    height: auto;
 
    
  }

  .section-5 {
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: #549f93;
    height: auto;
    
  }

  .section-6 {
    display: block;
    grid-column: 4/5;
    grid-row: 1/4;
    height: auto;
    
  }

  .sportlight-1 {
    display: block;
    border: 1px solid black;
    height: auto;
    border-bottom: none;
  }

  .sportlight-1 img{
    width: 100px;
  }
  .sportlight-2 img{
    width: 100px;
  }
  .sportlight-3 img{
    width: 100px;
  }

  .sportlight-2 {
    display: block;
    border: 1px solid black;
    height: auto;
    border-bottom: none;
  }

  .sportlight-3 {
    display: block;
    border: 1px solid black;
    height: auto;
  }
  .para-2, a {
    text-decoration-line: none;
  }

  .footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    line-height: normal;
    text-align: left;
  }

  .date {
    max-width: 500px;
    margin-left: 60px;
    border-radius: 30px 10px 30px 10px;
    font-size: large;
    color: black;
  }

  footer {
    margin-top: 20px;
  }
  .sportlight-4,
  .sportlight-5 {
    display: none;
  }

  .section-2 p {
    line-height: 2rem;
  }

  .section-5 .btn {
    margin-top: 0.9rem;
    width: 70px;
    padding: 0.9rem;
    border-radius: 50 50;
    text-align: center;
    background-color: rgb(204, 194, 181);
  }

  .social-one a img {
    width: 50px;
  }
  .social-two a img {
    width: 50px;
  }
  
  .copyright {
    background-color: rgb(197, 194, 194);
    color: black;
    border-top: none;
    border-radius: 60px 60px;
    margin: 0 auto;
    max-width: 1000px;
  }
  .contact {
    color: white;
  }
  .contact a {
    color: white;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    font-size: large;
  }

  @keyframes slidein {
    from {
      margin-left: 10%;
      width: 100%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
    
  }
  footer {
    background-color: black;
    
  }
  .logo{
    color: white;
  }
}
