@media only screen and (min-width: 760px) {
    
    .responsive li {
        display: block;
    }

.date {
    max-width: 992px;
}
main {
    max-width: 992px;
    margin-right: 0;
}
main {
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
    
   
   
}


.section-1 {
    grid-column: 1/4;
    grid-row: 1/2;
    width: 100%;
    height: 400px;
   
    
}

.section-2 {
    grid-column: 1/4;
    grid-row: 2/3;
    height: 400px;
   
   
}

.section-3{
    grid-column: 1/3;
    grid-row: 5/6;
    height: 400px;
  
    
   

}

.section-4 {
    grid-column: 3/4;
    grid-row: 5/6;
    height: 400px;
   
   
}
   



.section-5 {
    grid-column: 1/4;
    grid-row: 4/5;
    height: 400px;
    

   
}

.section-6 {
    grid-column: 1/4;
    grid-row: 3/4;
    
    
}

.section-6 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
   
}


.sportlight {
    display: flex;
    background-color: var(--clr-six);
    border: 1px solid black;
    
  
 }
 
 .sportlight-2nd {
    display: flex;
    background-color: var(--clr-six);
    border: 1px solid black;
    
}
 
 .sportlight-3 {
     display: none;
     border: 1px solid black;
     margin-bottom: 20px;
 }

.social {
    margin-left: 100px;
}

footer {
    max-width: 992px;
}

.section-2 p{
    line-height: 2rem;
}
.sportlight-1 
 img {
      margin-top: 0px;
}

.sportlight-2
 img {
    margin-top: 0px;
}
.sportlight-3
 img {
    margin-top: 0px;
}
}  
